<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Clean Environment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        <div>
            <h3>Please complete fields below to setup your prayer nofications</h3>
            <br/>
            <form action = "" method="post">
                <label>Residence Address:</label>
                <input id="location" type="text" size="30" placeholder="Format: Street_Number Street_name" name="location" value="{{ request.form.location }}" required>
                <p><input type="submit" value="Setup Email Remider"/></p>
    </body>
    
</html>